.sideMenu{
  /* display: none; */
  position:fixed;
  height: 100%;
  background-color: #ebebeb;
  left: -500px;
  transition: 0.2s;
  width:260px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 10;
  margin-top: -35px;
  }

#sideMenuBtn{
  padding-left: 20px;
}

#sideMenuBtn img{
  width: 20px;       /* 設置圖像最大寬度 */
  height: 20px;         /* 設置高度自動調整 */
}

.sideMenuCH{
  /* transform: translateX(-5.5%); */
  /* top: 0px; */
  left: 0px;
}

@media screen and (max-width:768px) {
  .toolbox{
    /* width: 871px; */
    margin-left: -5px;
    margin-top: -25px;
    width: 100%;
    position:fixed;
    background-color: white;
    /* align-items: center;
    left: 50%;  
    transform: translateX(-50%);  */
    z-index: 9;
    border-bottom: 1px solid red;
  }

  .toolbox-right{
    margin-bottom: 10px;
  }

  .products{
    z-index: -1;
    margin-top: 80px;
  }

  .toolbox .toolbox-sort{
    margin-left: 130px;
  }

}

/* @media (min-width: 576px) {
  .sideMenuCH {
    display: none;
  }
} */


.main-sideMenuBtn{
  z-index: 8;
  background-color: rgba(25,25,25,0.25);
}