@section Styles
{
    <link rel="stylesheet" href="~/Auction/css/AuctionCenterMain.css" type="text/css">
    <link rel="stylesheet" href="~/Auction/css/AuctionCenterSidebar.css" type="text/css">
    <style>
        /*.AuctionCenter{
            color: #6F6F6F !important;
            height:100%;
        }

        .pagination li{
            margin: 0 10px;
            cursor: pointer;
        }*/

/*        .breadcrumb-option *{
            font-size: 62.5%;
        }*/
        .dropdown-menu-ul {
            /*margin-bottom: -15px;*/
        }

        .sidebar-shop{
            padding:0px 15px;
            border: 1px solid rgba(0,0,0,.08);
            background-color:white;
        }

        .product{
            border: 1px solid rgba(0,0,0,.08);
        }

        .header{
            /*position:fixed;*/
        }
    </style>
}

<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                @*Start*@
                <div class="AuctionCenter" id="app">
                    <div class="page-wrapper">
                        <!-- sideMenu -->
                        <aside class="d-lg-none col-lg-3 sideMenu">
                            @*<label>手機側邊欄</label>*@
                            <div class="sidebar sidebar-shop">
                                <div class="widget widget-clean">
                                    <label>條件篩選</label>
                                    @*<a href="#" class="sidebar-filter-clear">Clean All</a>*@
                                </div><!-- End .widget widget-clean -->

                                <div class="widget widget-collapsible">
                                    <h3 class="widget-title">
                                        <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                                            系列
                                        </a>
                                    </h3><!-- End .widget-title -->

                                    <div class="collapse show" id="widget-1">
                                        <div class="widget-body">
                                            <div class="filter-items filter-items-count">
                                                <!--系列篩選-->
                                                <div class="filter-item" v-for="(option, index) in seriesOptions" :key="index">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" :id="option.value" v-model="selectedSeries" :value="option.value">
                                                        <label class="custom-control-label" :for="option.value">{{ option.label }}</label>
                                                    </div><!-- End .custom-checkbox -->
                                                    <span class="item-count">{{ seriesCounts[option.value] }}</span>
                                                </div><!-- End .filter-item -->
                                            </div><!-- End .filter-items -->

                                        </div><!-- End .widget-body -->
                                    </div><!-- End .collapse -->
                                </div><!-- End .widget -->

                                <div class="widget widget-collapsible">
                                    <h3 class="widget-title">
                                        <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
                                            價格範圍
                                        </a>
                                    </h3><!-- End .widget-title -->

                                    <div class="collapse show" id="widget-5">
                                        <div class="widget-body">
                                            <div class="filter-price">
                                                <!--價格篩選-->
                                                @*                                                                <div class="filter-price-text">
                                                <label for="min-price">最低價：</label>
                                                <input type="number" id="min-price" v-model="minPrice">
                                                <label for="max-price">最高價：</label>
                                                <input type="number" id="max-price" v-model="maxPrice">
                                                <button @@click="applyFilter">套用</button>
                                                </div>*@

                                                <div class="filter-price-container">
                                                    <div class="input-wrapper">
                                                        <input type="number" id="min-price" v-model="minPrice" placeholder="最小值">
                                                    </div>
                                                    <div class="horizontal-line"></div>
                                                    <div class="input-wrapper">
                                                        <input type="number" id="max-price" v-model="maxPrice" placeholder="最大值">
                                                    </div>
                                                </div>
                                                <div class="filter-price-btn">
                                                    <button @@click="applyFilter">套用</button>
                                                </div>


                                                <div id="price-slider"></div><!-- End #price-slider -->
                                            </div><!-- End .filter-price -->
                                        </div><!-- End .widget-body -->
                                    </div><!-- End .collapse -->
                                </div><!-- End .widget -->
                            </div><!-- End .sidebar sidebar-shop -->
                        </aside><!-- End .col-lg-3 -->
                        <!-- sideMenu END -->



                        <main class="main">

                            <div class="page-content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-9">
                                            <div class="toolbox">
                                                <div class="toolbox-left">
                                                    @*<div class="toolbox-info">
                                                    Showing <span>9 of 56</span> Products
                                                    </div>*@<!-- End .toolbox-info -->
                                                    <input class="form-control search-bar"  placeholder="搜尋商品" aria-label="搜尋" v-model="searchKeyword">
                                                    <i class="search-btn" v-on:click="search"></i>
                                                </div><!-- End .toolbox-left -->

                                                <div class="toolbox-right">
                                                    <div class="toolbox-sort">
                                                        <label for="sortby"></label>
                                                        <div class="select-custom">
                                                            @*價格排序*@
                                                            <select name="sortby" id="sortby" class="form-control" v-model="selectedSort">
                                                                <option value="" disabled selected hidden>排序依據</option>
                                                                <option v-for="item in sort" :value="item.value">{{item.option}}</option>
                                                            </select>
                                                        </div>
                                                        <label class="d-lg-none" id="sideMenuBtn">
                                                            @*<img src="./assets/icon/gear.png" alt="">*@
                                                            <i class="fa-solid fa-filter"></i>
                                                        </label> <!-- TEST -->
                                                    </div><!-- End .toolbox-sort -->
                                                    @*<div class="toolbox-layout">
                                                        
                                                    </div><!-- End .toolbox-layout -->*@
                                                </div><!-- End .toolbox-right -->
                                            </div><!-- End .toolbox -->

                                            <div class="products mb-3">
                                                <div class="row justify-content-start">
                                                    <template v-if="commodities.length">
                                                        <!--渲染商品列表-->
                                                        <div class="col-6 col-md-4 col-lg-4 col-xl-3" v-for="commodity in paginatedCommodities" :key="commodity.CommodityId" @@click="commoditylink(commodity.CommodityId)">
                                                            <div class="product product-7 text-center">
                                                                <figure class="product-media">
                                                                    @*<span class="product-label label-new" v-if="isNew(commodity.Deadline)">New</span>*@
                                                                    @*<a :href="'/Commodities/Details/' + commodity.commodityId">*@
                                                                    <img :src="'https://finalprojectbackend.azurewebsites.net/img/webDataPicture/' + commodity.Image" :alt="commodity.CommodityName" class="product-image">
@*                                                                    </a>*@
                                                                    <div class="product-action-vertical">
                                                                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>加入願望清單</span></a>
                                                                    </div><!-- End .product-action-vertical -->
                                                                </figure><!-- End .product-media -->
                                                                <div class="product-body">
                                                                    <h3 class="product-title">
                                                                        @*<a :href="'/Commodities/Details/' + commodity.commodityId">{{ commodity.commodityName }}</a>*@
                                                                        <p>{{ commodity.CommodityName }}</p>
                                                                    </h3><!-- End .product-title -->
                                                                    <div class="product-price">NT${{ commodity.CommodityUnitPrice }}</div><!-- End .product-price -->
                                                                </div><!-- End .product-body -->
                                                            </div><!-- End .product -->
                                                        </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                                                    </template>
                                                    <template v-else>
                                                        <p>找不到商品資料</p>
                                                    </template>
                                                </div><!-- End .row -->
                                            </div><!-- End .products -->

                                            <nav aria-label="Page navigation">
                                                <ul class="pagination justify-content-center">
                                                    <li :disabled="currentPage === 1" @@click="currentPage--">上一頁</li>
                                                    <li v-for="(page, index) in totalPages" :key="index" :class="{ active: currentPage === index + 1 }">
                                                        <a @@click.prevent="currentPage = index + 1">{{ index + 1 }}</a>
                                                    </li>
                                                    <li :disabled="currentPage === totalPages" @@click="currentPage++">下一頁</li>
                                                </ul>
                                            </nav>
                                        </div><!-- End .col-lg-9 -->
                                        <aside class="d-none d-lg-block col-lg-3 order-lg-first">
                                            <!--側邊攔-->
                                            <div class="sidebar sidebar-shop">
                                                <div class="widget widget-clean">
                                                    <label>條件篩選</label>
                                                    @*<a href="#" class="sidebar-filter-clear">Clean All</a>*@
                                                </div><!-- End .widget widget-clean -->

                                                <div class="widget widget-collapsible">
                                                    <h3 class="widget-title">
                                                        <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                                                            系列
                                                        </a>
                                                    </h3><!-- End .widget-title -->

                                                    <div class="collapse show" id="widget-1">
                                                        <div class="widget-body">
                                                            <div class="filter-items filter-items-count">
                                                                <!--系列篩選-->
                                                                <div class="filter-item" v-for="(option, index) in seriesOptions" :key="index">
                                                                    <div class="custom-control custom-checkbox">
                                                                        <input type="checkbox" class="custom-control-input" :id="option.value" v-model="selectedSeries" :value="option.value">
                                                                        <label class="custom-control-label" :for="option.value">{{ option.label }}</label>
                                                                    </div><!-- End .custom-checkbox -->
                                                                    <span class="item-count">{{ seriesCounts[option.value] }}</span>
                                                                </div><!-- End .filter-item -->
                                                            </div><!-- End .filter-items -->

                                                        </div><!-- End .widget-body -->
                                                    </div><!-- End .collapse -->
                                                </div><!-- End .widget -->

                                                <div class="widget widget-collapsible">
                                                    <h3 class="widget-title">
                                                        <a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
                                                            價格範圍
                                                        </a>
                                                    </h3><!-- End .widget-title -->

                                                    <div class="collapse show" id="widget-5">
                                                        <div class="widget-body">
                                                            <div class="filter-price">
                                                                <!--價格篩選-->
@*                                                                <div class="filter-price-text">
                                                                    <label for="min-price">最低價：</label>
                                                                    <input type="number" id="min-price" v-model="minPrice">
                                                                    <label for="max-price">最高價：</label>
                                                                    <input type="number" id="max-price" v-model="maxPrice">
                                                                    <button @@click="applyFilter">套用</button>
                                                                </div>*@

                                                                <div class="filter-price-container">
                                                                    <div class="input-wrapper">
                                                                        <input type="number" id="min-price" v-model="minPrice" placeholder="最小值">
                                                                    </div>
                                                                    <div class="horizontal-line"></div>
                                                                    <div class="input-wrapper">
                                                                        <input type="number" id="max-price" v-model="maxPrice" placeholder="最大值">
                                                                    </div>
                                                                </div>
                                                                <div class="filter-price-btn">
                                                                    <button @@click="applyFilter">套用</button>
                                                                </div>


                                                                <div id="price-slider"></div><!-- End #price-slider -->
                                                            </div><!-- End .filter-price -->
                                                        </div><!-- End .widget-body -->
                                                    </div><!-- End .collapse -->
                                                </div><!-- End .widget -->
                                            </div><!-- End .sidebar sidebar-shop -->
                                        </aside><!-- End .col-lg-3 -->
                                    </div><!-- End .row -->
                                </div><!-- End .container -->
                            </div><!-- End .page-content -->
                        </main><!-- End .main -->
                        <!-- End .footer -->
                    </div><!-- End .page-wrapper -->
                    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

                    <!-- Mobile Menu -->
                    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

                    <div class="mobile-menu-container">
                        <div class="mobile-menu-wrapper">
                            <span class="mobile-menu-close"><i class="icon-close"></i></span>

                            <form action="#" method="get" class="mobile-search">
                                <label for="mobile-search" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                            </form>

                            <nav class="mobile-nav">
                                <ul class="mobile-menu">
                                    <li class="active">
                                        <a href="index.html">Home</a>

                                        <ul>
                                            <li><a href="index-1.html">01 - furniture store</a></li>
                                            <li><a href="index-2.html">02 - furniture store</a></li>
                                            <li><a href="index-3.html">03 - electronic store</a></li>
                                            <li><a href="index-4.html">04 - electronic store</a></li>
                                            <li><a href="index-5.html">05 - fashion store</a></li>
                                            <li><a href="index-6.html">06 - fashion store</a></li>
                                            <li><a href="index-7.html">07 - fashion store</a></li>
                                            <li><a href="index-8.html">08 - fashion store</a></li>
                                            <li><a href="index-9.html">09 - fashion store</a></li>
                                            <li><a href="index-10.html">10 - shoes store</a></li>
                                            <li><a href="index-11.html">11 - furniture simple store</a></li>
                                            <li><a href="index-12.html">12 - fashion simple store</a></li>
                                            <li><a href="index-13.html">13 - market</a></li>
                                            <li><a href="index-14.html">14 - market fullwidth</a></li>
                                            <li><a href="index-15.html">15 - lookbook 1</a></li>
                                            <li><a href="index-16.html">16 - lookbook 2</a></li>
                                            <li><a href="index-17.html">17 - fashion store</a></li>
                                            <li><a href="index-18.html">18 - fashion store (with sidebar)</a></li>
                                            <li><a href="index-19.html">19 - games store</a></li>
                                            <li><a href="index-20.html">20 - book store</a></li>
                                            <li><a href="index-21.html">21 - sport store</a></li>
                                            <li><a href="index-22.html">22 - tools store</a></li>
                                            <li><a href="index-23.html">23 - fashion left navigation store</a></li>
                                            <li><a href="index-24.html">24 - extreme sport store</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="category.html">Shop</a>
                                        <ul>
                                            <li><a href="category-list.html">Shop List</a></li>
                                            <li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
                                            <li><a href="category.html">Shop Grid 3 Columns</a></li>
                                            <li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
                                            <li><a href="category-boxed.html"><span>Shop Boxed No Sidebar<span class="tip tip-hot">Hot</span></span></a></li>
                                            <li><a href="category-fullwidth.html">Shop Fullwidth No Sidebar</a></li>
                                            <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                                            <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span class="tip tip-new">New</span></span></a></li>
                                            <li><a href="cart.html">Cart</a></li>
                                            <li><a href="checkout.html">Checkout</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="#">Lookbook</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="product.html" class="sf-with-ul">Product</a>
                                        <ul>
                                            <li><a href="product.html">Default</a></li>
                                            <li><a href="product-centered.html">Centered</a></li>
                                            <li><a href="product-extended.html"><span>Extended Info<span class="tip tip-new">New</span></span></a></li>
                                            <li><a href="product-gallery.html">Gallery</a></li>
                                            <li><a href="product-sticky.html">Sticky Info</a></li>
                                            <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                                            <li><a href="product-fullwidth.html">Full Width</a></li>
                                            <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Pages</a>
                                        <ul>
                                            <li>
                                                <a href="about.html">About</a>

                                                <ul>
                                                    <li><a href="about.html">About 01</a></li>
                                                    <li><a href="about-2.html">About 02</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="contact.html">Contact</a>

                                                <ul>
                                                    <li><a href="contact.html">Contact 01</a></li>
                                                    <li><a href="contact-2.html">Contact 02</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="login.html">Login</a></li>
                                            <li><a href="faq.html">FAQs</a></li>
                                            <li><a href="404.html">Error 404</a></li>
                                            <li><a href="coming-soon.html">Coming Soon</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="blog.html">Blog</a>

                                        <ul>
                                            <li><a href="blog.html">Classic</a></li>
                                            <li><a href="blog-listing.html">Listing</a></li>
                                            <li>
                                                <a href="#">Grid</a>
                                                <ul>
                                                    <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                                    <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                                    <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                                    <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Masonry</a>
                                                <ul>
                                                    <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                                    <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                                    <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                                    <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Mask</a>
                                                <ul>
                                                    <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                                    <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Single Post</a>
                                                <ul>
                                                    <li><a href="single.html">Default with sidebar</a></li>
                                                    <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                                    <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="elements-list.html">Elements</a>
                                        <ul>
                                            <li><a href="elements-products.html">Products</a></li>
                                            <li><a href="elements-typography.html">Typography</a></li>
                                            <li><a href="elements-titles.html">Titles</a></li>
                                            <li><a href="elements-banners.html">Banners</a></li>
                                            <li><a href="elements-product-category.html">Product Category</a></li>
                                            <li><a href="elements-video-banners.html">Video Banners</a></li>
                                            <li><a href="elements-buttons.html">Buttons</a></li>
                                            <li><a href="elements-accordions.html">Accordions</a></li>
                                            <li><a href="elements-tabs.html">Tabs</a></li>
                                            <li><a href="elements-testimonials.html">Testimonials</a></li>
                                            <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                                            <li><a href="elements-portfolio.html">Portfolio</a></li>
                                            <li><a href="elements-cta.html">Call to Action</a></li>
                                            <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </nav><!-- End .mobile-nav -->

                            <div class="social-icons">
                                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                            </div><!-- End .social-icons -->
                        </div><!-- End .mobile-menu-wrapper -->
                    </div><!-- End .mobile-menu-container -->
                    <!-- Sign in / Register Modal -->
                    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class="icon-close"></i></span>
                                    </button>

                                    <div class="form-box">
                                        <div class="form-tab">
                                            <ul class="nav nav-pills nav-fill" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="tab-content-5">
                                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                                    <form action="#">
                                                        <div class="form-group">
                                                            <label for="singin-email">Username or email address *</label>
                                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                                        </div><!-- End .form-group -->

                                                        <div class="form-group">
                                                            <label for="singin-password">Password *</label>
                                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                                        </div><!-- End .form-group -->

                                                        <div class="form-footer">
                                                            <button type="submit" class="btn btn-outline-primary-2">
                                                                <span>LOG IN</span>
                                                                <i class="icon-long-arrow-right"></i>
                                                            </button>

                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                                            </div><!-- End .custom-checkbox -->

                                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                                        </div><!-- End .form-footer -->
                                                    </form>
                                                    <div class="form-choice">
                                                        <p class="text-center">or sign in with</p>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <a href="#" class="btn btn-login btn-g">
                                                                    <i class="icon-google"></i>
                                                                    Login With Google
                                                                </a>
                                                            </div><!-- End .col-6 -->
                                                            <div class="col-sm-6">
                                                                <a href="#" class="btn btn-login btn-f">
                                                                    <i class="icon-facebook-f"></i>
                                                                    Login With Facebook
                                                                </a>
                                                            </div><!-- End .col-6 -->
                                                        </div><!-- End .row -->
                                                    </div><!-- End .form-choice -->
                                                </div><!-- .End .tab-pane -->
                                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                                    <form action="#">
                                                        <div class="form-group">
                                                            <label for="register-email">Your email address *</label>
                                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                                        </div><!-- End .form-group -->

                                                        <div class="form-group">
                                                            <label for="register-password">Password *</label>
                                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                                        </div><!-- End .form-group -->

                                                        <div class="form-footer">
                                                            <button type="submit" class="btn btn-outline-primary-2">
                                                                <span>SIGN UP</span>
                                                                <i class="icon-long-arrow-right"></i>
                                                            </button>

                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                                            </div><!-- End .custom-checkbox -->
                                                        </div><!-- End .form-footer -->
                                                    </form>
                                                    <div class="form-choice">
                                                        <p class="text-center">or sign in with</p>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <a href="#" class="btn btn-login btn-g">
                                                                    <i class="icon-google"></i>
                                                                    Login With Google
                                                                </a>
                                                            </div><!-- End .col-6 -->
                                                            <div class="col-sm-6">
                                                                <a href="#" class="btn btn-login  btn-f">
                                                                    <i class="icon-facebook-f"></i>
                                                                    Login With Facebook
                                                                </a>
                                                            </div><!-- End .col-6 -->
                                                        </div><!-- End .row -->
                                                    </div><!-- End .form-choice -->
                                                </div><!-- .End .tab-pane -->
                                            </div><!-- End .tab-content -->
                                        </div><!-- End .form-tab -->
                                    </div><!-- End .form-box -->
                                </div><!-- End .modal-body -->
                            </div><!-- End .modal-content -->
                        </div><!-- End .modal-dialog -->
                    </div><!-- End .modal -->
                </div><!-- AuctionCenter -->
                @*End*@
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/auction/js/bootstrap.bundle.min.js"></script>
    <script>
        $(window).on('resize', function () {
            //if ($(window).width() > 576) {
            //    $('.sideMenuCH').removeClass('sideMenuCH');
            //} else {
            //    $('.sideMenuCH').addClass('sideMenuCH');
            //}

            var pageContentWidth = $('.products').width() + 10;
            $('.toolbox').css('width', pageContentWidth);
        });

        // 初始化时调整宽度
        $(window).trigger('resize');


        const app = Vue.createApp({
            data() {
                return {
                    commodities: [],
                    searchKeyword: '',
                    cache: {
                        data: null,
                        timestamp: null,
                    },
                    minPrice: null,
                    maxPrice: null,
                    selectedSeries: [],
                    seriesCounts: {},
                    seriesOptions: [],
                    filteredCommodities: [],
                    currentPage: 1, // 目前所在的頁數
                    pageSize: 40, // 每頁顯示的商品數量
                    totalPages: null,
                    paginatedCommodities: [],
                    selectedSort: '',
                    sort: [{
                        value: 'priceDesc',
                        option: '價格高 > 低'
                        }, {
                        value: 'priceAsc',
                        option: '價格低 > 高',
                        }],
                };
            },
            methods: {
                isNew(deadline) {
                    if (!deadline) {
                        return false;
                    }
                    const now = new Date();
                    const deadlineDate = new Date(deadline);
                    return deadlineDate > now;
                },
                applySeriesFilter() {
                    if (!this.selectedSeries.length) {
                        // 若沒有選擇篩選的系列，則直接顯示全部商品
                        this.filteredCommodities = this.commodities;
                        return;
                    }
                    // 過濾出被選擇的系列
                    const selectedSeries = this.seriesOptions.filter((option) => {
                        return this.selectedSeries.includes(option.value);
                    }).map((option) => {
                        return option.label;
                    });
                    // 過濾出被選擇系列的商品
                    this.filteredCommodities = this.commodities.filter((commodity) => {
                        return selectedSeries.includes(commodity.Series);
                    });
                },
                applyFilter() {
                    this.search();
                    this.applySeriesFilter(); // 篩選系列
                    this.paginate();
                    this.currentPage = 1; // 篩選完畢後回到第一頁
                    
                },
                search() {
                    const keyword = this.searchKeyword.toLowerCase();
                    if (this.cache.data && this.cache.timestamp && this.cache.timestamp > new Date() - 60000) {
                        // 從快取中取得資料
                        this.commodities = this.cache.data.filter((commodity) => {
                            return commodity.CommodityName.toLowerCase().includes(keyword) && this.filterByPrice(commodity);
                        });
                        this.setSeriesOptions();
                    } else {
                        // 從後端撈資料
                        axios.get('/commodities/GetCommodities').then((response) => {
                            // 儲存到快取
                            this.cache = {
                                data: response.data,
                                timestamp: new Date(),
                            };
                            this.commodities = response.data.filter((commodity) => {
                                return commodity.CommodityName.toLowerCase().includes(keyword) && this.filterByPrice(commodity);
                            });
                        });
                    }
                },
                filterByPrice(commodity) {
                    if (this.minPrice === "" && this.maxPrice === "") {
                        this.minPrice = null;
                        this.maxPrice = null;
                        return true;
                    }
                    if (this.minPrice !=null && this.maxPrice === "") {
                        this.maxPrice = null;
                        return true;
                    }
                    if (this.minPrice === null && this.maxPrice === null) {
                        return true;
                    }
                    if (this.minPrice === null && commodity.CommodityUnitPrice <= this.maxPrice) {
                        return true;
                    }
                    if (this.maxPrice === null && commodity.CommodityUnitPrice >= this.minPrice) {
                        return true;
                    }
                    if (commodity.CommodityUnitPrice >= this.minPrice && commodity.CommodityUnitPrice <= this.maxPrice) {
                        return true;
                    }
                    return false;
                },
                commoditylink(commodityId) {
                    // 導航到商品詳細頁面的程式碼，例如：
                    window.location.href = '/Commodities/Commodity/' + commodityId;
                },
                setSeriesOptions() {
                    const seriesCounts = {};
                    this.commodities.forEach((commodity) => {
                        const series = commodity.Series;
                        if (seriesCounts[series]) {
                            seriesCounts[series]++;
                        } else {
                            seriesCounts[series] = 1;
                        }
                    });

                    const seriesOptions = Object.keys(seriesCounts).map((series) => {
                        return {
                            label: series,
                            value: series,
                        };
                    });

                    this.seriesCounts = seriesCounts;
                    this.seriesOptions = seriesOptions;
                    this.currentPage = 1; // 重新設定目前所在的頁數
                    this.paginate(); // 呼叫 paginate() 方法進行分頁
                },
                paginate() 
                {
                    this.applySeriesFilter();

                    //價格排序
                    const sorted = [...this.filteredCommodities]; // 克隆一份数据，避免对原始数据进行修改
                    if (this.selectedSort === 'priceDesc') {
                        sorted.sort((a, b) => b.CommodityUnitPrice - a.CommodityUnitPrice); // 價格高到低排序
                        console.log('selectedSort:', this.selectedSort);
                    } else if (this.selectedSort === 'priceAsc') {
                        sorted.sort((a, b) => a.CommodityUnitPrice - b.CommodityUnitPrice); // 價格低到高排序
                        console.log('selectedSort:', this.selectedSort);
                    }

                    // 計算總頁數
                    this.totalPages = Math.ceil(this.filteredCommodities.length / this.pageSize);

                    // 計算目前頁數所需的商品範圍
                    const startIndex = (this.currentPage - 1) * this.pageSize;
                    const endIndex = startIndex + this.pageSize;

                    // 設定目前頁數所需的商品資料
                    //this.paginatedCommodities = this.filteredCommodities.slice(startIndex, endIndex);
                    this.paginatedCommodities = sorted.slice(startIndex, endIndex);
                },
                //applySort() {
                //    let sorted = [...this.filteredCommodities];
                //    if (this.selectedSort === 'priceDesc') {
                //        sorted.sort((a, b) => b.CommodityUnitPrice - a.CommodityUnitPrice);
                //    } else if (this.selectedSort === 'priceAsc') {
                //        sorted.sort((a, b) => a.CommodityUnitPrice - b.CommodityUnitPrice);
                //    }
                //    this.sortedCommodities = sorted;
                //}
            },
            computed: {
                sortedCommodities() {
                    let sorted = [...this.filteredCommodities]; // 克隆一份數據，避免對原始數據進行修改
                    if (this.selectedSort === 'priceDesc') {
                        sorted.sort((a, b) => b.CommodityUnitPrice - a.CommodityUnitPrice); // 價格高到低排序
                        console.log('selectedSort:', this.selectedSort);
                    } 
                    else if (this.selectedSort === 'priceAsc') {
                        sorted.sort((a, b) => a.CommodityUnitPrice - b.CommodityUnitPrice); // 價格低到高排序
                        console.log('selectedSort:', this.selectedSort);
                    } 
                    //console.log(this.filteredCommodities)
                    console.log(this.selectedSort)

                    return sorted;
                }
            },
            watch: {
                selectedSeries: {
                    handler: 'applySeriesFilter',
                    deep: true
                },
                commodities: {
                    handler: 'applySeriesFilter',
                    deep: true
                },
                filteredCommodities: {
                    handler: 'paginate', // 當商品資料篩選或排序時重新分頁
                    deep: true
                },
                currentPage: {
                    handler(newPage) {
                        // 判斷最小值
                        if (newPage < 1) {
                            this.currentPage = 1;
                        }
                        // 判斷最大值
                        else if (newPage > this.totalPages) {
                            this.currentPage = this.totalPages;
                        }
                        // 在有效範圍內時執行分頁
                        else {
                            this.paginate();
                        }
                    }
                },
                selectedSort: {
                    handler: 'paginate', // 改變價格排序時 觸發paginate
                },
            
            },
            mounted() {
                axios.get('/commodities/GetCommodities').then((response) => {
                    this.cache = {
                        data: response.data,
                        timestamp: new Date(),
                    };
                    this.commodities = response.data;
                    this.setSeriesOptions();
                    this.paginate(); // 初次載入時進行分頁
                });

                $("#sideMenuBtn").click(function () {
                    $(".sideMenu").toggleClass("sideMenuCH");
                });
            },
            set selectedSort(value) {
                console.log('selectedSort changed:', value);
                this._selectedSort = value;
            },
            get selectedSort() {
                return this._selectedSort;
            }
        });

        app.mount('#app');
    </script>
}
