@model chosen.Models.Commodity

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Commodity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TempStorageId" class="control-label"></label>
                <input asp-for="TempStorageId" class="form-control" />
                <span asp-validation-for="TempStorageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommodityName" class="control-label"></label>
                <input asp-for="CommodityName" class="form-control" />
                <span asp-validation-for="CommodityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommodityQuantity" class="control-label"></label>
                <input asp-for="CommodityQuantity" class="form-control" />
                <span asp-validation-for="CommodityQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommodityUnitPrice" class="control-label"></label>
                <input asp-for="CommodityUnitPrice" class="form-control" />
                <span asp-validation-for="CommodityUnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnShelves" class="control-label"></label>
                <input asp-for="OnShelves" class="form-control" />
                <span asp-validation-for="OnShelves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
