<div id="app">
    <router-view></router-view>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <script>
        const EmailComponent = {
            template: `
                  <div>
                    <div>
                      <label>Email：</label>
                      <input type="email" v-model="form.Email" name="Email" />
                    </div>
                    <button type="button" v-on:click="sendVerificationCode">寄送驗證碼</button>
                  </div>
                `,
            data() {
                return {
                    form: {
                        Email: '',
                    },
                };
            },
            methods: 
            {
                async sendVerificationCode() 
                {
                    try {
                        const formData = new FormData();
                        formData.append('Email', this.form.Email);
                        const response = await axios.post('/Member/SendVerificationCode', formData);

                        // 檢查回應的結果
                        if (response.data === -1) {
                            // 郵箱已存在的錯誤碼，顯示提示訊息
                            alert('此信箱已註冊');
                        } else {
                            // 驗證碼已寄出，顯示提示訊息
                            alert('驗證碼已寄出，請在三分鐘之內進行註冊');
                            this.$router.push({ name: 'register' });
                        }
                    } catch (error) {
                        console.error(error);
                    }
                },

            },
        };

        const RegisterComponent = {
            template: `
                  <div>
                    <label>帳號：</label>
                    <input type="text" v-model="form.MemberName" name="MemberName" />
                    <label>密碼：</label>
                    <input type="password" v-model="form.Password" name="Password" />
                    <label>電話：</label>
                    <input type="text" v-model="form.Phone" name="Phone" />
                    <label>郵箱：</label>
                    <input type="text" v-model="form.Email" name="Email" />
                    <label>驗證碼：</label>
                    <input type="text" v-model="form.VerifyCode" name="VerifyCode" />
                    <button type="submit" v-on:click="submit">註冊</button>
                  </div>
                `,
            data() {
                return {
                    form: {
                        MemberName: '',
                        Password: '',
                        Phone: '',
                        Email: '',
                        VerifyCode: '',
                    },
                };
            },
            methods: {
                async submit() {
                    try {
                        const formData = new FormData();
                        formData.append('MemberName', this.form.MemberName);
                        formData.append('Password', this.form.Password);
                        formData.append('Phone', this.form.Phone);
                        formData.append('Email', this.form.Email);
                        formData.append('VerifyCode', this.form.VerifyCode);
                        const response = await axios.post('/Member/DoRegister', formData);
                        // 檢查回應的結果
                        if (response.data.success) {
                            // 註冊成功
                            alert('註冊成功');
                            this.$router.push({ name: 'register' });
                        } else {
                            // 註冊失敗
                            alert('註冊失敗');
                        }
                    } 
                    catch (error) 
                    {
                        console.error(error);
                    }
                },
            },
        };

        const router = VueRouter.createRouter({
            history: VueRouter.createWebHashHistory(),
            routes: [
                {
                    path: '/',
                    component: EmailComponent,
                    name: 'email',
                },
                {
                    path: '/register',
                    component: RegisterComponent,
                    name: 'register',
                },
            ],
        });

        const {ref} = Vue
        const app = Vue.createApp({
            router, // 確保 Vue Router 正確註冊
        });

        // 在 app.component 中註冊元件
        app.component('email-component', EmailComponent);
        app.component('register-component', RegisterComponent);

        // 最後掛載應用程式
        Vue.createApp(app).use(router).mount('#app')
    </script>
}

