@model chosen.Models.TempStorage

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TempStorage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TempStorageId" />
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrizePoolId" class="control-label"></label>
                <input asp-for="PrizePoolId" class="form-control" />
                <span asp-validation-for="PrizePoolId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrizeId" class="control-label"></label>
                <input asp-for="PrizeId" class="form-control" />
                <span asp-validation-for="PrizeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrizeName" class="control-label"></label>
                <input asp-for="PrizeName" class="form-control" />
                <span asp-validation-for="PrizeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrizeQuantity" class="control-label"></label>
                <input asp-for="PrizeQuantity" class="form-control" />
                <span asp-validation-for="PrizeQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrizePicture" class="control-label"></label>
                <input asp-for="PrizePicture" class="form-control" />
                <span asp-validation-for="PrizePicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwardDate" class="control-label"></label>
                <input asp-for="AwardDate" class="form-control" />
                <span asp-validation-for="AwardDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receive" class="control-label"></label>
                <input asp-for="Receive" class="form-control" />
                <span asp-validation-for="Receive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
