@{
    ViewData["Title"] = "儲值失敗";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="card-title text-center">儲值失敗。</h1>
                    <p class="card-text text-center">請在試一次!</p>
                    <div class="text-center">
                        <a class="btn btn-primary" href="@Url.Action("Center", "Payment")">回到儲值中心</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

    </script>
}

